body {
    background-color: #ECDEC9;
  }
  
  #container {
    background-color: white;
    padding: 5px;
    box-shadow: 2px 2px 8px rgb(0,0,0,0.5);
    max-width: 700px;
      display: flex;
    flex-direction: column;
      align-content: center;
    justify-content: center;
    border-radius: 5px
  }
  
 
  .title h1 {
    text-align: center;
    font-size: 60px;
  }
  
  .pic {
    display: flex;
    justify-content: center;
  }
  
  .pic img {
     object-fit: contain;
     max-width: 100%;
     max-height: 400px;
     width: auto;
     height: auto;
    border-radius: 10px 10px 10px 10px;
    text-align: center
  }
  
  .employee-data {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
  }
  
  .employee-data .title-header {
    color: rgba(0,0,0,.6);
    font-size: 18px;    
  }
  
  .employee-data .title-header .title {
    color: rgba(0,0,0,1);
      font-size: 24px;
  }
  
  .embedded-viz {
    padding: 20px;
  }