#first-div {
    border: 1px solid red;
    text-align: center;
  }
  
  #second-div {
    width: 50%;
    border: 1px dashed blue;
  }
  
  #second-div span {
    text-decoration: underline;
  }
  
  #second-div span:last-child {
    padding-left: 20px;
    color: green;
  }
  
  .third-div {
    position: absolute;
    bottom: 25px;
  }
  
  .third-div h3 {
    transform: scaleX(-1)
  }
  